.container {
      background-color: black;
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
    
    .item {
      display: flex;
      align-items: center;
      color: white;
    }
    
    .logo {
      margin-right: 10px;
    }
    
    .texts {
      color: white;
      margin-right: 10px;
    }
    
    .textLink {
      color: white;
    }
    
    .linkHead {
      color: white;
      margin-top: 10px;
      font-weight: bold;
    }
    
    .linkItem {
      margin-top: 10px;
    }
    
    @media (max-width: 600px) {
      .container {
        flex-direction: column;
        height: fit-content;
        margin-left: 0%;
        align-items: center;
      }
    
      .item {
        flex-direction: column;
        margin: 10px;
        text-align: center;
        color: white;
      }
      .textLink{
        align-items: center;
        text-align: center;
        width: 100%;
      }
      .logo{
        align-content: center;
      }
    }
    