.container{
      background-color: #232323;
      height: 200px;
      padding: 0px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: sticky;
      top: 0;
}

.texts{
      color: white;
      font-weight: bold;
}

.text:last-child{
      font-size: 12px;
      font-weight: 500;
}

.textLink{
      color: white;
      padding: 10px;
      
}

.linkItem:first-child{
      font-weight: bold;
      font-size: 15px;
      margin-bottom: 10px;
}

.linkItem{
      font-size: 12px;
      font-weight: 500;
}

.social{
      display: flex;
      justify-content: space-between;
}
