.container{
      background-color: white;
      height: 400px;
      padding: 0px 50px;
      align-items: left;
      position: sticky;
      top: 0;
}

.typing{
      color: rgb(38, 11, 94);
      font-size: 20px;
}

.item{
      margin: 20px;
      display: flex;
      justify-content: space-between;
}

.text{
      margin-left: 20px;
}

.video{
      
}

