.container {
      background-color: white;
      height: fit-content;
      position: relative;
      overflow: hidden;
}

.welcomeSec {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
}

.line {
      width: 50%;
      border-top: 2px solid #F7AB0A;
      margin: 10px 0;
}

.typing {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: bold;
      margin: 10px 0;
}

.itemsec {
      display: flex;
      align-items: center;
      width: 100%;
}

.item {
      width: 50%;
      padding: 20px;
      margin: 20px;
}

/* Mobile styles */
@media only screen and (max-width: 600px) {
      .container {
            height: auto;
            /* Change the container height to 'auto' for mobile devices */
      }

      .welcomeSec {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
            padding: 5px;
      }

      .line, .typing {
            width: 80%;
            text-align: center;
      }

      .itemsec {
            flex-wrap: nowrap;
            flex-direction: column;
      }

      .item {
            width: 100%;
            align-items: center;
      }
      .video {
            width: 100%;
          }
}

